@import url(https://fonts.googleapis.com/css?family=Vollkorn:regular,500,600,700,800,900,italic,500italic,600italic,700italic,800italic,900italic);

@import url(https://fonts.googleapis.com/css?family=Raleway:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

html {
  scroll-behavior: smooth;
  max-width: 100%;
}

body {
  font-family: "Vollkorn";
  font-size: 16px;
  max-width: 100%;
  height: 100%;
  line-height: 1.4;
  background-color: #141414;
  padding: 0;
  margin: 0;
}

@media (max-width: 1024px) {
  body {
    display: inline;
  }
}

.sector-no-padding {
  padding: 30px 0 0 0;
  width: 100%;
}

.sector-padding {
  padding: 20px 0;
  width: 100%;
}

main {
  width: 100%;
}




/* INTRO */




.intro-sector {
  background-color: rgb(5, 5, 5);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 11;
  position: fixed;
  animation-name: opacity;
  animation-duration: 3s;
}

.hidden {
  display: none;
  position: sticky;
}

.intro-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro-container img {
  max-width: 350px;
  box-shadow: 7px 13px 17px 3px rgba(0, 0, 0, 0.61);
  -webkit-box-shadow: 7px 13px 17px 3px rgba(0, 0, 0, 0.61);
  -moz-box-shadow: 7px 13px 17px 3px rgba(0, 0, 0, 0.61);
}




/* HEADER SECTION */




.navbar {
  position: fixed;
  width: 100%;
  height: 80px;
  background-color: #000;
  z-index: 10;
  border-bottom: 1px solid rgb(255, 255, 255);
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 50px;
}

.navbar-left {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-logo img {
  max-width: 150px;
}

.navbar-menu li {
  display: inline-block;
  text-align: center;
  padding: 0 20px;
}

.navbar-menu li a {
  transition: transform 0.1s;
  display: inline-block;
  color: #fff;
  text-decoration: none;
  font-size: 22px;
  font-weight: 350;
}

.navbar-menu li a:hover {
  transform: scale(1.03);
  opacity: 0.6;
  color: #ffffff;
}

.burger {
  cursor: pointer;
  display: none;
}

.burger-sticks {
  width: 40px;
  height: 4px;
  background-color: rgb(255, 255, 255);
  margin: 8px 0;
}

.side-navbar-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 50%;
  z-index: 10000;
  background-color: #000;
  transform: translateX(-100%);
  font-family: 'Raleway';
}

.side-navbar-menu a {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
}

.side-navbar-menu li {
  margin: 30px 0;
}

.disactive {
  animation-name: sidebar-close;
  animation-duration: 1s;
}

.disactive-burger .burger-sticks {
  animation-name: burger-sticks-reverse;
  animation-duration: 0.3s;
}

.active {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
  width: 50%;
  z-index: 10000;
  transform: translateX(0%);
  background-color: #000;
  animation-name: sidebar-open;
  animation-duration: 1s;
}

.activate .burger-sticks {
  animation-name: burger-sticks;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

@media (max-width: 768px) {
  .burger {
    display: block;
  }

  .navbar-menu {
    display: none;
  }
}

@media (max-width: 425px) {
  .burger {
    display: block;
  }

  .side-navbar-menu a {
    font-size: 1.2rem;
  }

  .navbar {
    height: 60px
  }

  .navbar-logo img {
    width: 100px;
  }

  .burger-sticks {
    width: 30px;
    height: 2px;
  }
}

/* ABOUT SECTION */



.about-sector {
  padding: 50px 0 0 0;
  background-color: #fff;
  color: black;
  width: 100%;
}

.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-photo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 550px;
}

.about-photo img {
  width: 100%;
}


.about-text {
  text-align: right;
  font-size: 16px;
  width: 50%;
}

.about-text h1 {
  font-size: 3rem;
}

.about-num {
  font-weight: 1000;
  font-size: 20px;
  background-color: #141414;
  color: white;
  width: 700px;
}

@media screen and (max-width: 1024px) {
  .about-photo {
    width: 500px;
  }

  .about-text {
    font-size: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .about-container {
    flex-direction: column-reverse;
  }

  .about-photo {
    width: 500px;
  }

  .about-text {
    width: 70%;
    text-align: center;
  }
}


@media screen and (max-width: 425px) {
  .about-photo {
    width: 370px;
  }

  .about-text {
    width: 85%;
    text-align: center;
  }
}

@media screen and (max-width: 320px) {
  .about-photo {
    width: 300px;
  }

  .about-text {
    width: 85%;
    text-align: center;
  }
}


/* TEAM SECTION */



.team-sector {
  color: white;
  background-color: #141414;
}

.team-name {
  text-align: center;
  font-size: 3rem;
}

.team-content {
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 70%;
  text-align: center;
}

.team-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.photo-container {
  margin: 0 20px;
}

.photo {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.photo-h {
  width: 100%;
  padding: 20px;
}

.photo-about {
  text-align: center;
  margin: 0 auto;
}

.photo-about h3 {
  font-weight: 800;
}

@media screen and (max-width: 1024px) {
  .photo {
    width: 260px;
  }
}

@media screen and (max-width: 768px) {
  .photo {
    width: 225px;
  }
}

@media screen and (max-width: 425px) {
  .team-name {
    font-size: 2rem;
  }

  .photo {
    width: 225px;
  }
}


/* PRICES SECTION */



.price-sector {
  background-color: #fff;
  color: #000;
}

.price-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.price {
  text-align: center;
  font-size: 3rem;
  font-weight: 800;
}

.price-image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.price-image img {
  max-width: 450px;
}

.learn-price {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50%;
}

.plus-personal {
  font-size: 18px;
  width: 500px;
  font-weight: bold;
}

.personal-learn {
  color: #fff;
  background-color: #141414;
  border-radius: 12px;
  text-align: center;
}

.sertificat-about {
  width: 500px;
  font-size: 1.3rem;
  font-weight: 500;
}

@media screen and (max-width: 1024px) {
  .price-image img {
    max-width: 350px;
  }

  .price {
    font-size: 2.5rem;
  }

  .plus-personal {
    font-size: 16px;
  }

  .sertificat-about {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 768px) {
  .price-container {
    flex-direction: column;
  }

  .price-image img {
    max-width: 300px;
  }

  .price {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 425px) {

  .price-image img {
    max-width: 300px;
  }

  .price {
    font-size: 2.5rem;
    text-align: center;
  }

  .plus-personal {
    width: 300px;
  }

  .sertificat-about {
    width: 370px;
    text-align: center;
  }

  .learn-price {
    align-content: center;
    justify-content: center;
  }
}


@media screen and (max-width: 320px) {

  .price-image img {
    max-width: 280px;
  }

  .price {
    font-size: 2.5rem;
    text-align: center;
  }

  .plus-personal {
    width: 270px;
  }

  .sertificat-about {
    width: 300px;
  }
}




/* GEO SECTION */



.geo-section {
  background-color: #141414;
  color: #fff;
}

.geolocation-name {
  text-align: center;
  font-size: 3rem;
}

.geo-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.geo-photo {
  width: 550px;
}

.geo-header {
  font-size: 2rem;
  text-align: left;
}

.geo-insta {
  transition: transform 0.3s;
  text-decoration: none;
  color: rgb(163, 163, 163);
  border-radius: 100px;
  text-align: left;
  font-size: 1.3rem;
}

.geo-insta:hover {
  transform: scale(1.05);
  color: rgb(163, 163, 163);
}

.geo-number {
  transition: transform 0.3s;
  text-decoration: none;
  color: rgb(163, 163, 163);
  border-radius: 100px;
  text-align: left;
  font-size: 1.3rem;

}

.geo-number:hover {
  transform: scale(1.05);
  color: rgb(163, 163, 163);
}

.adress {
  text-align: left;
  color: rgb(163, 163, 163);
  font-size: 1.3rem;
}

.map {
  width: 550px;
  height: 650px;
  border-radius: 50px;
}

.geo-txt {
  text-align: center;
  font-size: 18px;
}

.welcome {
  text-align: center;
  font-size: 2.5rem;
}

.welcome-txt {
  text-align: left;
  font-size: 1.3rem;
  color: #fff;
}

@media screen and (max-width: 1024px) {
  .map {
    width: 450px;
    height: 550px;
  }

  .welcome {
    font-size: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .geo-container {
    flex-direction: column-reverse;
  }

  .map {
    width: 550px;
    height: 450px;
  }

  .welcome {
    font-size: 2rem;
  }

  .geo-header {
    text-align: center;
  }

  .geo-insta {
    text-align: center;
  }

  .geo-number {
    text-align: center;
  }

  .welcome-txt {
    text-align: center;
  }
}

@media screen and (max-width: 425px) {
  .map {
    width: 350px;
    height: 250px;
  }

  .geolocation-name {
    font-size: 2.5rem;
  }

  .welcome {
    font-size: 1.5rem;
  }

  .geo-header {
    font-size: 1.5rem;
  }

  .geo-insta {
    font-size: 1.1rem;
  }

  .geo-number {
    font-size: 1.1rem;
  }

  .adress {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 320px) {
  .map {
    width: 300px;
    height: 200px;
  }
}



/* FOOTER */

footer {
  background-color: #000;
  color: rgb(158, 158, 158);
  border-top: 2px solid white;
}

.footer-container {
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 425px) {
  .footer-container {
    font-size: 0.9rem;
    flex-direction: column;
  }
}


/* ANIMATION */



@keyframes opacity {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes sidebar-open {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes burger-sticks {
  0% {
    margin: 8px 0;
  }

  100% {
    margin: 12px 0;
  }
}

@keyframes burger-sticks-reverse {
  0% {
    margin: 12px 0;
  }

  100% {
    margin: 8px 0;
  }
}

@keyframes sidebar-close {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}
